Question-1


A database is a structured collection of data that is organized, managed, and accessed electronically. It allows for efficient storage, retrieval, and manipulation of data. Databases are used in various applications and industries to store and manage large amounts of information.<br>
<br>
SQL (Structured Query Language) Databases:

Structure: SQL databases use a structured data model based on tables with predefined schemas. Data is organized into rows and columns, and relationships between tables are established using primary and foreign keys.

Schema: SQL databases have a fixed schema that defines the structure of the data. Any changes to the schema require altering the database structure, which can be a complex and time-consuming process.

<br>
<br>

NoSQL (Not Only SQL) Databases:

Structure: NoSQL databases use a variety of data models, such as key-value pairs, documents, columnar, or graph structures. They are designed to be flexible and adaptable to different data types and structures.

Schema: NoSQL databases are schema-less or have flexible schemas, allowing for dynamic changes to the data structure. This flexibility enables agile development and accommodates evolving data needs.

Question-2

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

Create:<br>
    CREATE TABLE Customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    age INT
);

Drop<br>
DROP TABLE Customers;

Alter <br>
ALTER TABLE Customers
ADD COLUMN address VARCHAR(200);

Truncate<br>
TRUNCATE TABLE Customers;

Question-3

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate the data within a database. DML statements are used to insert, update, and delete records in database tables.<br>
<br>
INSERT:
The INSERT statement is used to add new records into a table. It specifies the table name and the values to be inserted into the corresponding columns.<br>
INSERT INTO Employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 5000);
<br>
<br>
UPDATE:
The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns in one or more rows. <br>
UPDATE Employees
SET salary = 6000
WHERE id = 1;
<br>
<br>
DELETE:
The DELETE statement is used to remove one or more records from a table. It allows you to specify a condition to identify the rows to be deleted. <br>
DELETE FROM Employees
WHERE id = 1;

Question-4


DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are primarily used to query and retrieve information from one or more database tables.

SELECT statement allows you to specify the columns and conditions to retrieve specific data from one or more tables.<br>
SELECT name, salary
FROM Employees
WHERE age > 30;

Question-5

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row in the table. It serves as a unique identifier for the records and ensures the integrity and uniqueness of the data. <br>
These are:<br>
Uniqueness<br>
Non-null<br>

Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between the data in two tables. It refers to the primary key of another table and creates a logical connection between the two tables.

Relationship: A foreign key in one table points to the primary key in another related table, establishing a relationship between them. It represents the dependencies and associations between tables.

Referential Integrity: Foreign keys ensure referential integrity, meaning that the values in the foreign key column(s) must match the values of the primary key in the referenced table or be NULL.

Question-6

import mysql.connector<br>
mydb = mysql.connector.connect(<br>
  host="localhost",<br>
  user="abc",<br>
  password="password",<br>
  database='test'<br>
)<br>
mycursor = mydb.cursor()<br>
mycursor.execute("insert into test_table values (12,'sai',21,1.2)")<br>
mydb.commit()<br>
mycursor.execute("select * from test_table")<br>
for i in mycursor:<br>
    print(i)<br>
mydb.close()<br>

cursor():<br>
The cursor() method is used to create a cursor object, which allows you to execute SQL statements and retrieve data from the MySQL database. The cursor acts as a control structure that enables you to traverse and manipulate the result set returned by the executed query.<br>
<br>
execute():<br>
The execute() method is used to execute SQL statements or queries using the cursor object. It allows you to send SQL statements to the MySQL database for execution.<br>

Question-7

1  FROM	- Tables are joined to get the base data.<br>
2	WHERE -	The base data is filtered.<br>
3	GROUP BY -	The filtered base data is grouped.<br>
4	HAVING -	The grouped base data is filtered.<br>
5	SELECT -	The final data is returned.<br>
6	ORDER BY -	The final data is sorted.<br>
7	LIMIT -  The returned data is limited to row count.<br>