Question-1

In [47]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [48]:
df[1:2]

        course_name  duration
1  Machine Learning         3

Question-2

loc is primarily label-based, which means it uses the row and column labels to access data. It accepts a label or a boolean array as input and returns the corresponding rows and columns. The syntax for using loc is df.loc[row_label, column_label]. Here, both the row and column labels can be single values, lists, or slices.

iloc is primarily integer-based and uses the integer positions of the rows and columns to access data. It accepts integer values or boolean arrays as input and returns the corresponding rows and columns. The syntax for using iloc is df.iloc[row_index, column_index]. Here, both the row and column indexes can be single values, lists, or slices.

Question-3

In [49]:
reindex=[3,0,1,2]
new_df=df.reindex(index=reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [50]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [51]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

loc will be based on index column.<br>
iloc is based on fixed index starting from 0 to n irrespective of actual index.

Question-4

In [52]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [53]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.810505  0.723799  0.735559  0.349388  0.459528  0.916068
2  0.770011  0.855129  0.808557  0.867860  0.229874  0.098004
3  0.089893  0.877805  0.154176  0.721358  0.385124  0.354860
4  0.949157  0.951060  0.686566  0.896759  0.627445  0.856100
5  0.272838  0.054014  0.025341  0.806717  0.671604  0.437938
6  0.869615  0.844904  0.476770  0.820017  0.741143  0.496494

(i)

In [54]:
df1.mean()

column_1    0.627003
column_2    0.717785
column_3    0.481162
column_4    0.743683
column_5    0.519120
column_6    0.526577
dtype: float64

(ii)

In [55]:
df1['column_2'].std()

0.33336894584806515

Question-5

In [56]:
df1['column_2'][2]="ok"

In [57]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.810505  0.723799  0.735559  0.349388  0.459528  0.916068
2  0.770011        ok  0.808557  0.867860  0.229874  0.098004
3  0.089893  0.877805  0.154176  0.721358  0.385124  0.354860
4  0.949157   0.95106  0.686566  0.896759  0.627445  0.856100
5  0.272838  0.054014  0.025341  0.806717  0.671604  0.437938
6  0.869615  0.844904  0.476770  0.820017  0.741143  0.496494

In [59]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Its not possible because it contains a string which can't be part of sum.

Question-6

In pandas, the windows functions provide a way to perform calculations and transformations on a sliding window of data in a DataFrame or Series. These functions operate on a specified window of consecutive data points and can be applied to perform various operations like aggregations, transformations, or rolling calculations.

The windows functions in pandas can be broadly categorized into the following types:

Aggregation Functions: These functions calculate a single value for each window. Some commonly used aggregation functions include:

sum(): Compute the sum of values in the window.
mean(): Calculate the mean of values in the window.
min(), max(): Find the minimum and maximum values in the window.
count(): Count the number of non-null values in the window.
std(), var(): Compute the standard deviation and variance of values in the window.
Transformation Functions: These functions generate a new value for each element in the window based on some calculation or logic. Some commonly used transformation functions include:

rank(): Compute the rank of values in the window.
diff(): Calculate the difference between consecutive values in the window.
pct_change(): Compute the percentage change between consecutive values in the window.
Rolling Functions: These functions apply a rolling window of a fixed size to perform calculations. They generate a new windowed object, preserving the index and column labels. Some commonly used rolling functions include:

rolling().mean(): Compute the rolling mean of values in the window.
rolling().sum(): Calculate the rolling sum of values in the window.
rolling().std(): Compute the rolling standard deviation of values in the window.

Question-7

In [60]:
import pandas as pd
current_date = pd.Timestamp.now()
current_month = current_date.month
current_year = current_date.year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 7
Current year: 2023

Question-8

In [62]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
timestamp1 = pd.Timestamp(date1)
timestamp2 = pd.Timestamp(date2)
time_difference = timestamp2 - timestamp1
days = time_difference.days
hours = time_difference.components.hours
minutes = time_difference.components.minutes
print("Time difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-01-21
Enter the second date (YYYY-MM-DD):  2023-06-22

Time difference:
Days: 152
Hours: 0
Minutes: 0

Question-9

import pandas as pd
file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(",")
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
sorted_df = df.sort_values(column_name)
print(sorted_df)

Question-10

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by 'Date' and 'Product Category' and calculate the total sales
sales_data = df.groupby(['Date', 'Product Category']).sum()['Sales'].unstack()

# Plot the stacked bar chart
sales_data.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the labels and title of the chart
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category over Time')

# Show the chart
plt.show()

Question-11

In [45]:
import csv
data = [
    ['id','marks'],
    ['1', '85'],
    ['2', '90'],
    ['3', '80'],
    ['4', '75'],
    ['5', '85'],
    ['6', '82'],
    ['7', '78'],
    ['8', '85'],
    ['9', '90'],
    ['10', '85']
]
file_path = 'example.csv'
with open(file_path, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [63]:
file_path = input("Enter the file path of the CSV file: ")
data=pd.read_csv(file_path)
data

Enter the file path of the CSV file:  example.csv

   id  marks
0   1     85
1   2     90
2   3     80
3   4     75
4   5     85
5   6     82
6   7     78
7   8     85
8   9     90
9  10     85

In [71]:
data_mean=data['marks'].mean()
data_median=data['marks'].median()
data_mode=data['marks'].mode()[0]
result_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                             'Test Score': [data_mean, data_median, data_mode]})
result_table

  Statistic  Test Score
0      Mean        83.5
1    Median        85.0
2      Mode        85.0